{% extends 'base.html' %}

{% block content %}
<h1>Order Summary</h1>
<div>
    <p>Order ID: {{ order_summary.id }}</p>
    <p>Date: {{ order_summary.date }}</p>
</div>
<div class="flex flex-row">
    <!-- Menu Items Section -->
    <div>
        <h2>Menu Items</h2>
        <form method="POST">
            {% csrf_token %}
            <table class="table-auto">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in all_items %}
                    <tr>
                        <td>{{ item.name }}</td>
                        <td>₱{{ item.price }}</td>
                        <td>
                            <button type="submit" name="menu_item" value="{{ item.id }}" class="add-btn">Add to Order</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </form>
    </div>

    <!-- Order Summary Section -->
    <div class="pl-8">
        <h2>Order Summary</h2>
        <table class="table-auto">
            <thead>
                <tr>
                    <th>Menu Item</th>
                    <th>Quantity</th>
                    <th>Total Price</th>
                </tr>
            </thead>
            <tbody>
                {% for order_item in all_order_items %}
                <tr>
                    <td>{{ order_item.menu_item.name }}</td>
                    <td>
                        <form method="POST" action="{% url 'update_quantity' order_item.id %}">
                            {% csrf_token %}
                            <button type="submit" name="adjustment" value="decrease">-</button>
                            <span>{{ order_item.quantity }}</span>
                            <button type="submit" name="adjustment" value="increase">+</button>
                        </form>
                    </td>
                    <td>₱{{ order_item.total_price }}</td>
                    <td>
                        <a href="{% url 'delete_order_item' order_item.id %}">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <form method="POST" action="{% url 'process_payment' order_summary.id %}">
            {% csrf_token %}
            <p><strong>Total Order Amount:</strong> ₱{{ order_summary.order_total }}</p>

            <div>
                <label for="payment_amount">Payment Amount:</label>
                <input type="number" name="payment_amount" step="0.01" min="0" value="{{ order_summary.payment_amount }}" required>
            </div>
            <button type="submit" class="btn btn-primary">Process Payment</button>
            <p><strong>Change:</strong> {{ order_summary.change }}</p>
        </form>
    </div>
    
</div>
{% endblock %}
